body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*Background Image startsida*/
.hero-image {
  background-image: url("/images/background01.2.jpg "); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
/*Background Image level sida*/
.hero-imagelvlstart {
  background-image: url("/images/school01.jpg "); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
/*Background Image level1*/
.hero-imagelvl1 {
  background-image: url("/images/background01.2.jpg "); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
/*Background Image level2*/
.hero-imagelvl2 {
  background-image: url("/images/cityview.png "); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Create three equal columns that float next to each other */
div.column {
    margin: 5px;
    float: left;
    width: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* When the mouse is over the image*/
div.column:hover {
   transform: scale(1.5);
   /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*The image inside the column*/
div.column button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imageAlternative{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.hero-textindex {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: Black;
  background-color: #FAE7E6;
  border-radius: 15px;
  padding: 20px;

}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: Black;
  background-color: transparent;
  border-radius: 15px;
  padding: 20px;
  justify-content: space-around;

}

.HomeButton{
    position: fixed;
    top: 10px;
    left: 10px;
}
.Player{
     font-size: 14px;
}
.PlayerInput{
     background-color: #FAEA7D;
         height:40px;
          width: 120px;
          border-radius: 14px;
          font-size: 14px;
     }
}
.PlayerInput:hover{
    background-color: #FAC952;
}
.startSida{
     background-color: #FADBE6;
     height:80px;
     width: 125px;
     border-radius: 16px;
     font-size: 28px;
}
.startSida:hover{
    background-color: #DFA3CD;
}

.imageButton{
    object-fit: fill;
    border-radius: 15px;

}
.ButtonInfo{
 background-color: transparent;
 border: #E1EDE3;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.BigBox{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .BigBox {
    flex-direction: column;
  }
}

.hidden{
visibility:hidden !important;
}

.PlayerName{
    Color: black;
    background: #D8D9FB;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.GroupName{
    Color: black;
    background: #D9F2CE;
    border-radius: 15px;
    max-width: 600px;
    text-align: center;
    position: fixed;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 5%;
    display: flex;

}
.MascotImage{
    float: left;
    max-width: 150px;
    max-height: 150px;
    background-color: transparent;
    border: #FAE7E6;

}
.clearfix{
    overflow: auto;
}

.res{
    Color: black;
    width: 400px;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 40%;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.5 );
    }


.buttonRow{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.goButton{
    background: transparent !important;
    border-radius: 10px;
    border: 1px;
}

.DisabledLevel{
filter: grayscale(1);
pointer-events: none;
}

@media (max-width: 800px) {
  .OuterBox {
    flex-direction: column;
  }
}
@media (max-width:800px;){
    h3{
    flex-direction: column;
    }
}

.question1{
    color: #FADBE6;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    shadow: 10px;
    font-size: 32px;
    background: rgba( 255, 255, 255, 0.4 );
    font-weight: bold;

}
