<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
  <meta charset="UTF-8">
    <title>JordPolarna</title>
</head>
<body>
<div class="outerBox">
    <div class="hero-certificate">
            <div id="printContent">
                <img class="diplom" src="images/DiplomJordPolarna.jpg" width="300px" height="auto" alt="diplom">
                <div class="nameDiplom">
                    <h1 class="PlayerName4 "><a th:text="${player.name}" ></a></h1>
                </div>
            </div>
</div>


<div class="HomeButton">
  <a th:href="'/levelOverview'"><button class="startSida">Tillbaka</button></a>
    <button id="print">Skriv ut ditt diplom</button>
</div>



</div>
</body>

<script type="text/javascript" th:src="@{action.js}"></script>
</html>