<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>HEJ</h1> <h1 th:text="${player.name}"></h1>

<tr th:each="page : ${pages}">
    <div th:if="${page.id == currentPage}">
        <p th:text="${page.question}"></p>
        <button type="button" th:text="${page.answers}" th:onclick="addPage()"></button>
        <button th:text="5" ></button>
        <button th:text="6" ></button>

    </div>
</tr>





<div>
    <a th:href="'/'"><button class="startSida">Startsida</button></a>
</div>

</body>
<script type="text/javascript" th:src="@{actions.js}"></script>
</html>