<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta charset="UTF-8">
    <title>Återvinning</title>

</head>
<body>
<div class="hero-image">
    <div class="hero-text">
        <h1>Hej <a th:text="${player.name}"></a></h1>

<tr th:each="page : ${pages}">
    <div id="" th:if="${page.id == session.current}">
        <p th:text="${page.question}"></p>

        <form  action="/level1" method="POST">
            <input type="hidden" name="id" th:value="${page.id}"/>
            <div class="column">
            <button type="submit" name="answer" th:value="${page.answers}" th:text="${page.answers}" width="400" height="400"></button>
            </div>
                <div class="column">
            <button class="PlayerInfo" th:onclick="showAlert()" name="answer" th:value="5" th:text="5" width="400" height="400"></button>
            </div>
    <div class="column">
            <button class="PlayerInfo" th:onclick="showAlert()" name="answer" th:value="6" th:text="6" width="400" height="400" ></button>
    </div>
            <div class="column">
        <button class="PlayerInfo" th:onclick="showAlert()" name="answer" th:value="7" th:text="7" width="400" height="400" ></button>
            </div>
        </form>

            </div>
        </div>

    </div>

</tr>




<div class="HomeButton">
    <a th:href="'/'"><button class="startSida">Startsida</button></a>
</div>


</body>

<script type="text/javascript" th:src="@{actions.js}"></script>
</html>