<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta charset="UTF-8">
    <title>Återvinning</title>

</head>
<body>
<div class="OuterBox">
    <div class="hero-image">

        <h1 class="PlayerName ">Hej  <a th:text="${player.name}" ></a>!</h1>

    <div class="hero-text">



<tr th:each="page : ${pages}">
    <div id="" th:if="${page.id == session.current}">
        <p th:text="${page.question}"></p>

        <form  action="/level1" method="POST">
            <div class="BigBox"><input type="hidden" name="id" th:value="${page.id}"/>
            <div class="column" th:each="answer : ${answers}">
                <button type="submit" class="ButtonInfo" name="answer" th:value="${answer.id}" width="400" height="400" th:data-name="${answer.id}" th:onclick="showId(this.getAttribute('data-name'))">
                    <img class="imageButton" width="100" height="100" th:src="@{/images/{id}(id=${answer.picture})}" alt="${answer.alt}">
                </button>
            </div>
        </form>
    </div>
    </div>

</tr>

<!--<div id ="errormsg" class="hidden">
    bla blabla
</div>-->





</div>
    <div class="HomeButton">
        <a th:href="'/levelOverview'"><button class="startSida">Startsida</button></a>
    </div>
</body>

<script type="text/javascript" th:src="@{action.js}"></script>
</html>