<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta charset="UTF-8">
    <title>Välj nivå</title>
</head>
<body>

    <div>
        <div class="hero-imagelvlstart">
            <h1 class="PlayerName ">Hej, <a th:text="${player.name}" ></a>!</h1>
                <div class="hero-text">

                    <div>
                     <h2>Välj nivå: </h2>
                     </div>
                    <div class="BigBox">
                        <div class="column" th:each="level : ${levelList}">
                             <a th:href="'/level' + ${level.id}">
                                <button type="submit" class="ButtonInfo"  th:value="${level.id}" width="300" height="300">
                                     <img class="imageButton" width="300" height="300"  th:src="@{/images/level{id}.png(id=${level.id})}" th:value="${level.id}">
                                </button>
                             </a>

                        </div>
                    </div>
                </div>

        </div>

    </div>

    <div class="HomeButton">
        <a th:href="'/'"><button class="startSida">Startsida</button></a>
    </div>

</body>
</html>