<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta charset="UTF-8">
    <title>Spelare</title>
</head>
<body>
<div class="hero-image">
    <div class="hero-text">
<h1>Välkommen hit!</h1>
        <h2>Skriv in ditt namn för att börja spela</h2>
    <form th:object="${gameLevel}" action="/register" method="POST">
    Namn: <input class="PlayerInfo" type="text" th:field="*{name}"/>
    <input class="PlayerInfo" type="hidden" th:if="${gameLevel.id != null}" th:field="*{id}"/>
    <input class="PlayerInfo" type="submit" value="Spara spelare">
    </form>
    </div>
</div>

</body>
</html>